[submodule "api-nodejs"]
	path = api-nodejs
	url = git@github.com:RomanKuzyk/logistica-nodejs.git
[submodule "mobile-app-ios"]
	path = mobile-app-ios
	url = git@github.com:RomanKuzyk/logistica-mobile-app-ios.git
[submodule "mobile-app-flutter"]
	path = mobile-app-flutter
	url = git@github.com:RomanKuzyk/logistica-mobile-app-flutter.git
[submodule "baf"]
	path = baf
	url = git@github.com:RomanKuzyk/logistica-baf.git
